@media(min-width:768px){.featurefilter__contentTitle,.efficiencyfilter__contentTitle{font-size:1.125rem;font-family:"DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.22222;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:0;padding-bottom:.12844em;margin-top:-.017em;padding-bottom:0;margin-top:0;margin-bottom:25px}
}
@media(min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi){.featurefilter__contentTitle,.efficiencyfilter__contentTitle{font-family:"DaimlerCS-Light",Helvetica,Arial,sans-serif}
}
.featurefilter__selectGroupLabel,.efficiencyfilter__selectGroupLabel{font-size:1rem;font-family:"DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:.00912em;padding-bottom:.15788em;margin-top:24px}
@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.featurefilter__selectGroupLabel,.efficiencyfilter__selectGroupLabel{font-family:"DaimlerCS-Light",Helvetica,Arial,sans-serif}
}
@media(min-width:768px) and (max-width:1023px){.featurefilter__selectGroupLabel,.efficiencyfilter__selectGroupLabel{width:165px;float:left;margin-right:18px;width:calc(165px - 30px);text-align:right;line-height:34px;margin-top:0;padding-bottom:0}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__selectGroupLabel,.efficiencyfilter__selectGroupLabel{width:216px;float:left;margin-right:18px;width:calc(216px - 30px);text-align:right;line-height:34px;margin-top:0;padding-bottom:0}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__selectGroupLabel,.efficiencyfilter__selectGroupLabel{width:272px;float:left;margin-right:22px;width:calc(272px - 30px);text-align:right;line-height:34px;margin-top:0;padding-bottom:0}
}
@media(min-width:1440px){.featurefilter__selectGroupLabel,.efficiencyfilter__selectGroupLabel{width:317px;float:left;margin-right:28px;width:calc(317px - 30px);text-align:right;line-height:34px;margin-top:0;padding-bottom:0}
}
.featurefilter__selectList,.efficiencyfilter__selectList{margin-top:4px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
@media(min-width:768px) and (max-width:1023px){.featurefilter__selectList,.efficiencyfilter__selectList{width:470px;float:left;margin-right:18px;margin-top:0;margin-right:0}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__selectList,.efficiencyfilter__selectList{width:606px;float:left;margin-right:18px;margin-top:0;margin-right:0}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__selectList,.efficiencyfilter__selectList{width:762px;float:left;margin-right:22px;margin-top:0;margin-right:0}
}
@media(min-width:1440px){.featurefilter__selectList,.efficiencyfilter__selectList{width:892px;float:left;margin-right:28px;margin-top:0;margin-right:0}
}
@media(min-width:768px){.featurefilter__selectListWrapper,.efficiencyfilter__selectListWrapper{margin-bottom:30px;clear:both}
.featurefilter__selectListWrapper::after,.efficiencyfilter__selectListWrapper::after{content:"";display:table;clear:both}
}
.featurefilter__select,.efficiencyfilter__select{margin-right:1px;margin-top:10px;-webkit-box-flex:2;-ms-flex-positive:2;flex-grow:2;-ms-flex-preferred-size:40%;flex-basis:40%}
@media(min-width:768px){.featurefilter__select,.efficiencyfilter__select{margin-top:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:auto;flex-basis:auto}
}
.featurefilter__selectLabel,.efficiencyfilter__selectLabel{font-size:1rem;font-family:"DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:.00912em;padding-bottom:.15788em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:45px;background:#ececec;border:1px}
@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.featurefilter__selectLabel,.efficiencyfilter__selectLabel{font-family:"DaimlerCS-Light",Helvetica,Arial,sans-serif}
}
.aem.aem--is-not-touch-device .featurefilter__selectLabel:hover,.aem.aem--is-not-touch-device .efficiencyfilter__selectLabel:hover{background-color:#d9d9d9;cursor:pointer}
@media(min-width:768px){.featurefilter__selectLabel,.efficiencyfilter__selectLabel{height:35px}
}
.featurefilter__selectLabel.is-inactive,.efficiencyfilter__selectLabel.is-inactive{color:#b8e8fb;background:#4dc6f4;cursor:default}
.featurefilter__selectLabel.is-inactive:hover,.efficiencyfilter__selectLabel.is-inactive:hover{background-color:#4dc6f4}
.featurefilter__input:checked+.featurefilter__selectLabel,.efficiencyfilter__input:checked+.featurefilter__selectLabel,.featurefilter__input:checked+.efficiencyfilter__selectLabel,.efficiencyfilter__input:checked+.efficiencyfilter__selectLabel{color:#fff;background:#00adef}
.aem.aem--is-not-touch-device .featurefilter__input:checked+.featurefilter__selectLabel:hover,.aem.aem--is-not-touch-device .efficiencyfilter__input:checked+.featurefilter__selectLabel:hover,.aem.aem--is-not-touch-device .featurefilter__input:checked+.efficiencyfilter__selectLabel:hover,.aem.aem--is-not-touch-device .efficiencyfilter__input:checked+.efficiencyfilter__selectLabel:hover{background-color:#0088c6}
@media(min-width:768px){.featurefilter__boot,.efficiencyfilter__boot{clear:left;overflow:hidden;margin-bottom:25px;margin-top:-7px;padding-top:10px;padding-bottom:7px}
}
.featurefilter__bootLabel,.efficiencyfilter__bootLabel{font-size:1rem;font-family:"DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:.00912em;padding-bottom:.15788em;margin-top:24px}
@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.featurefilter__bootLabel,.efficiencyfilter__bootLabel{font-family:"DaimlerCS-Light",Helvetica,Arial,sans-serif}
}
@media(min-width:768px) and (max-width:1023px){.featurefilter__bootLabel,.efficiencyfilter__bootLabel{width:165px;float:left;margin-right:18px;width:calc(165px - 30px);text-align:right}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__bootLabel,.efficiencyfilter__bootLabel{width:216px;float:left;margin-right:18px;width:calc(216px - 30px);text-align:right}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__bootLabel,.efficiencyfilter__bootLabel{width:272px;float:left;margin-right:22px;width:calc(272px - 30px);text-align:right}
}
@media(min-width:1440px){.featurefilter__bootLabel,.efficiencyfilter__bootLabel{width:317px;float:left;margin-right:28px;width:calc(317px - 30px);text-align:right}
}
@media(min-width:768px){.featurefilter__bootLabel,.efficiencyfilter__bootLabel{margin-top:0}
}
.featurefilter__bootValues,.efficiencyfilter__bootValues{margin-top:12px}
@media(min-width:768px) and (max-width:1023px){.featurefilter__bootValues,.efficiencyfilter__bootValues{width:470px;float:left;margin-right:18px;margin-top:0}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__bootValues,.efficiencyfilter__bootValues{width:606px;float:left;margin-right:18px;margin-top:0}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__bootValues,.efficiencyfilter__bootValues{width:762px;float:left;margin-right:22px;margin-top:0}
}
@media(min-width:1440px){.featurefilter__bootValues,.efficiencyfilter__bootValues{width:892px;float:left;margin-right:28px;margin-top:0}
}
.featurefilter__bootValue,.efficiencyfilter__bootValue{font-size:1rem;font-family:"DaimlerCS-Regular",Helvetica,Arial,sans-serif;line-height:1.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-top:.00912em;padding-bottom:.15788em}
@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.featurefilter__bootValue,.efficiencyfilter__bootValue{font-family:"DaimlerCS-Light",Helvetica,Arial,sans-serif}
}
.featurefilter__bootValueMin,.efficiencyfilter__bootValueMin{width:39.63797%;float:left;margin-right:3.47776%;text-align:left}
@media(min-width:768px) and (max-width:1023px){.featurefilter__bootValueMin,.efficiencyfilter__bootValueMin{width:43px;float:left;margin-right:18px;text-align:right}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__bootValueMin,.efficiencyfilter__bootValueMin{width:60px;float:left;margin-right:18px;text-align:right}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__bootValueMin,.efficiencyfilter__bootValueMin{width:76px;float:left;margin-right:22px;text-align:right}
}
@media(min-width:1440px){.featurefilter__bootValueMin,.efficiencyfilter__bootValueMin{width:87px;float:left;margin-right:28px;text-align:right}
}
.featurefilter__bootValueMax,.efficiencyfilter__bootValueMax{width:39.63797%;float:right;margin-right:0;text-align:right}
@media(min-width:768px) and (max-width:1023px){.featurefilter__bootValueMax,.efficiencyfilter__bootValueMax{width:43px;float:right;margin-right:0;margin-right:0;text-align:left}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__bootValueMax,.efficiencyfilter__bootValueMax{width:60px;float:right;margin-right:0;margin-right:0;text-align:left}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__bootValueMax,.efficiencyfilter__bootValueMax{width:76px;float:right;margin-right:0;margin-right:0;text-align:left}
}
@media(min-width:1440px){.featurefilter__bootValueMax,.efficiencyfilter__bootValueMax{width:87px;float:right;margin-right:0;margin-right:0;text-align:left}
}
@media(min-width:768px) and (max-width:1023px){.featurefilter__bootSlider,.efficiencyfilter__bootSlider{clear:none;width:348px;padding-top:0;float:left}
}
@media(min-width:1024px) and (max-width:1279px){.featurefilter__bootSlider,.efficiencyfilter__bootSlider{clear:none;width:450px;padding-top:0;float:left}
}
@media(min-width:1280px) and (max-width:1439px){.featurefilter__bootSlider,.efficiencyfilter__bootSlider{clear:none;width:566px;padding-top:0;float:left}
}
@media(min-width:1440px){.featurefilter__bootSlider,.efficiencyfilter__bootSlider{clear:none;width:662px;padding-top:0;float:left}
}